.about-us {

  width: 260px;
  margin: 0 auto;

  &__item {
    min-height: 125px - 57px;
    padding-top: 57px;
    font-weight: bold;

    &--icon-1 {
      background: url("../img/icon-feature-1.svg") no-repeat;
    }

    &--icon-2 {
      background: url("../img/icon-feature-2.svg") no-repeat;
    }

    &--icon-3 {
      background: url("../img/icon-feature-3.svg") no-repeat;
    }

    &--icon-4 {
      background: url("../img/icon-feature-4.svg") no-repeat;
    }

    &--icon-5 {
      background: url("../img/icon-feature-5.svg") no-repeat;
    }

    &--icon-6 {
      background: url("../img/icon-feature-6.svg") no-repeat;
    }
  }

}
