@import "variables.scss";

.about-us {

  width: 260px;
  margin: 0 auto;
}

.about-us__title {
  font-family: "Verdana", "Arial", sans-serif;
  font-size: $fs-title;
}

.about-us__item {
  min-height: 70px;
  padding-top: 35px;

  &--icon-flower {
    background: url("../img/icon-feature-1.svg") no-repeat 4% 0;
  }

  &--icon-carpet {
    background: url("../img/icon-feature-3.svg") no-repeat 4% 0;
  }

  &--icon-heart {
    background: url("../img/icon-feature-5.svg") no-repeat 4% 0;
  }

  &--icon-ball {
    background: url("../img/icon-feature-2.svg") no-repeat 4% 0;
  }

  &--icon-rocket {
    background: url("../img/icon-feature-4.svg") no-repeat 4% 0;
  }

  &--icon-gift {
    background: url("../img/icon-feature-6.svg") no-repeat 4% 0;
  }

}

.about-us__description {
  font-size: $fs-base;
  font-weight: bold;
}
