$bg-color:#fff;

.main-nav {

 &__toogle{
    background-color:$bg-color;
  }

  &__list{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item{

    a{
      display: block;
      padding: 34px 0 34px 30%;
      border-bottom: 1px solid #ececec;
      color: #000;
      font-weight: bold;
      text-decoration: none;
    }

    &--search {
      background:url("../img/icon-search.svg") no-repeat 10% 50%;
    }

    &--cart{
      background:url("../img/icon-cart.svg") no-repeat 10% 50%;
    }

  }

}
