.page-header {
  width: 100%;

  &__logo {
    margin-left: 40%;
  }

  &__menu {

    min-height: 177px;
    background: #f1f1f1;
    padding-top: 80px;

    &--background {
      background: url("../img/hero-mobile@1x.jpg") no-repeat 50% 0;
    }

  }

  &__title {
      text-align: center;
    }

  &__items-wrapper{
    margin-top: 145px;
  }

  &__item {
    display: block;
    padding: 45px 30px;
    color: #fff;
    text-decoration: none;

    &--img-interior {
        background: #63d1bb url("../img/icon-interior.svg") no-repeat 90% 50%;
    }

    &--img-toy {
        background: #56c3b2 url("../img/icon-toy.svg") no-repeat 90% 50%;
    }

  }

}
