.contacts {

  width: 320px;
  margin: 0 auto;
  margin-bottom: 39px;
}

.contacts__title {
  font-family: "Verdana", "Arial", sans-serif;
  font-size: $fs-title;
}

.contacts__table {
  width: 260px;
  margin: 0 auto;
}

.contacts__field {
  width: 76px;
  font-size: $fs-description;
}

.contacts__address {
  font-size: $fs-description;

}

.contacts__email-field {
  color: $font-color;
  text-decoration: none;
}

.contacts__map {
  width: 100%;
  margin-top: 37px;
  margin-bottom: 39px;
}
