@import "../../variables.scss";

.reviews {

  width: 260px;
  margin: 0 auto;
}

.reviews__title {
  font-family: "Verdana", "Arial", sans-serif;
  font-size: $fs-title;
}

.reviews__item {
  margin: 0;
  margin-bottom: 35px;
}

.reviews__text {
  font-size: $fs-description;
  line-height: 25pt;
}

.reviews__author {
  font-family: "Verdana", "Arial", sans-serif;
  font-size: $fs-description;
  font-weight: bold;
  font-style: normal;
}

.reviews__nickname {
  font-size: $fs-description;
}

.reviews__btn {
  height: 0;
  padding-top: 50px;
  overflow: hidden;
  border: 1px solid #ececec;

   &--prev {
    width: 129px;
    background: #fff url("../img/icon-left-arrow.svg") no-repeat 50% 50%;
  }

  &--next {
    width: 128px;
    margin-left: -4px;
    background: #fff url("../img/icon-right-arrow.svg") no-repeat 50% 50%;
    border-left: 0;
  }

}
