$bg-color: #fff; /*основной цвет фона*/
$base-color: #63d1bb; /*основной цвет стиля сайта*/
$decor-color: #56c3b2; /*декоративный цвет(в page-header__item)*/
$fs-base: 16px; /*основной размер шрифта*/
$fs-title: 24px; /*размер шрифта для заголовков*/
$fs-description: 14px; /* размер шрифта для описания*/
$font-color: #444; /*цвет шрифта*/
