@import "../../variables.scss";

.video {

  width: 260px;
  margin: 0 auto;
  border: 1px solid #ececec;
}

.video__title {
  display: block;
  min-height: 40px;
  padding: 29px 0 26px 90px;
  background: url("../img/icon-video.svg") no-repeat 10% 50%;
  font-family: "Verdana", "Arial", sans-serif;
  font-size: $fs-base;
}

.video__description {
  font-size: $fs-description;
  line-height: 24px;
}
