.page-footer {

  width: 320px;
  margin: 0 auto;
  background: #fafafa;
}

.page-footer__copyright {
  display: block;
  width: 220px;
  margin: 0 auto;
  padding: 22px 0 22px 0px;
  border-top: 1px solid #e5e5e5;
  background: url(../img/logo-htmlacademy.svg) no-repeat 75% 50%;
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
